@font-face {
	font-family: mastodon-font-monospace;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Cascadia Code');
//        url("../fonts/cascadia/cascadia-code-webfont.woff2") format("woff2");
}

@font-face {
	font-family: mastodon-font-monospace;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Cascadia Mono');
//        url("../fonts/cascadia/cascadia-mono-webfont.woff2") format("woff2");
}
