@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: fallback;
	src: url("../fonts/inter/inter-regular-webfont.woff2") format("woff2");
	font-named-instance: "Regular";
}

@font-face {
	font-family: Inter;
	font-style: italic;
	font-weight: 100 900;
	font-display: fallback;
	src: local('Inter'),
        url("../fonts/inter/inter-italic-webfont.woff2") format("woff2");
	font-named-instance: "Italic";
}
