@font-face {
    font-family: mastodon-font-sans-serif;
    src: local('Segoe UI');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: mastodon-font-sans-serif;
    src: local('Segoe UI Variable Display');
    font-display: swap;
    font-style: normal;
  }
  